.mySlides {
    display:none;
    width: 100%;
    height:auto;
}
.demo {
    cursor:pointer;
    margin:4px;
}
.w3-row-padding{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.w3-content{
      width: 100%;
    display: flex;
    flex-direction: column;
}
