.flex-col{
    display: flex;
    flex-direction:column;
}
.flex-row-cent{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.flex-row{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.txt-centr{
    text-align:center;    
}
.txt-left{
    text-align:left;    
}
body{
    max-width: 1280px;
    min-width: 350px;
    overflow:auto;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    font-weight: 800;
    color:#4d4d4d;
}
.nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    max-width: 1280px;
    box-shadow: 0px 1px 0px #7d4627;
    z-index: 999;
    }
#logo{
    align-content:stretch;
    align-items: stretch;
    width:100px;
    margin-left: 10px;
    margin-right: 10px;
   }
.l_sweet{
    color: #7d4627;
    padding: 0;
    margin: -5px ;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
.l_swad{
    color: #7d4627;
    padding: 0;
    margin-left: 2px;
    margin-right: 10px;
    font-size: 22px;
    font-family: 'Lobster', cursive;
  }

h1{
     color: #7d4627;
     font-family: 'Titillium Web', sans-serif;
     /*font-size: 1.5em;*/
     /*font-family: 'Droid Serif', serif;*/
}
.main_menu{
     text-shadow: -1px 0 #7d4627, 0 1px #7d4627, 1px 0 #7d4627, 0 -1px #7d4627;
}
footer{
    align-items:center;
    background-color: #a8b6bf;
}
footer h1{
    color:white;
}
.foot_soc{
    align-items:center;
}
.main_menu div {
    -webkit-transition: width 3s; /* Safari */
    transition: all .5s;
}
a{
    text-decoration: none;
    color: #fff;
}
.img_menu{
     min-width: 400px;
     min-height: 300px;
    background-size: 100% 100%;
    background-position:0 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin: 10px;
    align-items:center;
}
#img_forhim:hover,#img_forher:hover,#img_blankets:hover,#img_decore:hover {
    transition-timing-function: ease-out;
    opacity:.7;
}
.img-prop {
    background-repeat: no-repeat;
    background-size: cover;
}
#img_forhim{
    background-image:url("../img/forhim1.jpg");
}
#img_forher{
    background-image:url("../img/forHer1.jpg");
}
#img_blankets{
    background-image:url("../img/blanket.jpg");
}
#img_decore{
    background-image:url("../img/toysdecor1.jpg");
}
div.img{
    width: 200px;
    height: auto;
    margin: auto;
}

div.img img{
    width: 100%;
    height: auto;
}
.foot_el li{
    list-style-type: none;
    overflow: hidden;
    color: #7d4627;
    text-align: left;
    padding: 6px 4px;
    text-decoration: none;
}
@media only screen and (max-width: 700px){
    div.img {
        width: 49.99999%;
        margin: 6px 0;
    }
    .main_top h1 {
    font-size: 3.5rem;
    }
    #img_forhim:hover,#img_forher:hover,#img_blankets:hover,#img_decore:hover {
    transition-timing-function: ease;
     opacity:.7;
    /*background-size: 120%;*/

}
.nav{
    padding-right:10px;
}
body{
    min-width: 320px;
}
.img_menu{
    width: 320px;
    height: 180px;
    color: white;
    font-size: 36px;
    margin: 0 auto;
}
.main_menu div {
    width: 320px;
    height: 220px;
}
#mobicon{
    color:#7d4627;
}
#logo{
 margin-left:10px;
}
#mobicon {
  font-weight: bold;
  font-size:22px;
}
}
@media only screen and (max-width: 500px){

     div.img {
        width: 100%;
    }
    .main_top h1 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
#mobicon{
    color:#7d4627;
}    
}
.foot_col{
    width: 180px;
    margin: 10px;
    padding:5px;
    
}
.foot_el{
   padding: 0 10px 0 0;
    margin:0;
    border-right-width: 1px;
    border-right-color: #fff;
    border-right-style: solid;
}
.socimg{
  width:50px;  
  height:50px;
  margin:2px;
}
#top1{
    height:50px;
}
#top2{
    height:50px;
}
#top3{
    height:50px;
}
#top4{
    height:50px;
}

li span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

li span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
li:hover span {
  padding-right: 25px;
}

li:hover span:after {
  opacity: 1;
  right: 0;
}