.icon{
	display: none;
	text-align:right;
	text-decoration:none;
	margin:10px;
}
 .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* .dropdown {
    float: left;
}*/
 .dropdown a, .dropbtn {
    display: inline-block;
    color: #7d4627;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    text-decoration: none;
}

 .dropdown a:hover, .dropdown:hover .dropbtn {
    background-color: #7d4627;
    color: white;
}

 li.dropdown {
    display: inline-block;
}

 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 .dropdown-content a {
    color: #4d4d4d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 .dropdown-content a:hover {background-color: #7d4627}

 .dropdown:hover .dropdown-content {
    display: block;
}

ul.topnav li.icon {display: none;}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
 .icon{
	display: flex;
}
.foo{
	color: #7d4627
}
 ul.topnav li.dropdown div:not(:first-child) {display: none;}
 .topnav {
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-start;
    margin-top:-300px;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
	}
	 .dropdown {
    width:100%;
}
.dropdown a, .dropbtn{
	display: flex;
	width:100%;
}
	.ball3 {	
		transition: all 1.4s linear;
	}

	.ball1 {	
		transition: all 1.4s ease;
	}
.active {
		margin-top: 0;
    transform: translateY(0);
	}
}