
.prodmain{
  margin-top: 70px;
  display: flex;
   flex-wrap:wrap; 
}
.prodgalery,.prodinfo,.prodtxt {
 width: 50%;
}
.prodgalery > div,.prodinfo > div,.prodtxt > div {
  display:flex;
  flex-direction:column;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}
.item-size, .item-material, .item-quantity{
    display: flex;
    flex-direction:column;
}
.item-variant-size-none, .item-variant-material-none, .item-variant-quantity-none{
    display: none;
}
.item-overview, .properties{
    display: flex;
    flex-direction:column;
}
section.prodinfo > div{
   margin:5px; 
}
div.item-param > div{
    margin:5px;
}
p{
    font-size: 1rem;
    text-align:left;
}
.btn-transaction{
  display: inline-block;
  background-color: #7d4627;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn-transaction span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-transaction span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-transaction:hover span {
  padding-right: 25px;
}

.btn-transaction:hover span:after {
  opacity: 1;
  right: 0;
}
.item-overview li{
    list-style-type: none;
    overflow: hidden;
    color: #7d4627;
    text-align: right;
    padding: 14px 16px;
    text-decoration:inherit ;
}
#description-text {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 40px 0 8px;
    display: block;
    text-rendering: auto;
}

